:root {
  /* Primary Color */
  --pink: hsl(322, 100%, 66%);
  /* neutral Color */
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);

  /* Fonts */
  --poppins-font: "Poppins", sans-serif;
  --open-sans: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url("/assets/images/bg-hero-mobile.svg") var(--very-pale-cyan);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 25px auto 0;
}
.logo-container {
  width: 35%;
}
.logo-container img {
  width: 50%;
  min-width: 100px;
  max-width: 180px;
}
.nav__btn {
  border: none;
  width: 30%;
  min-width: 95px;
  max-width: 150px;
  padding: 2px;
  border-radius: 25px;
  outline: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.callToAction {
  font-weight: 600;
  font-family: var(--open-sans);
  font-size: 1.2rem;
}
.callToAction:hover {
  cursor: pointer;
}

.hero-container {
  width: 80%;
  padding-top: 85px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero__description {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}
.hero__title {
  font-family: var(--poppins-font);
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--very-dark-cyan);
}
.hero__details {
  padding: 25px 0;
  line-height: 2.5rem;
  font-family: var(--open-sans);
  font-size: 1.6rem;
  color: var(--very-dark-cyan);
}
.hero__btn {
  width: 220px;
  /* min-width: 200px; */
  /* max-width: 280px; */
  padding: 10px;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: var(--pink);
}
.hero__imgContainer {
  padding: 45px 0 30px;
  width: 100%;
}
.hero__imgContainer img {
  width: 100%;
  max-width: 460px;
}
.product__container {
  margin-top: 60px;
  width: 100%;

  margin-bottom: 150px;
}
.conversations__card {
  width: 85%;
  max-width: 420px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  margin: 0 auto 30px;
  padding: 35px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
}
.product__card {
  width: 85%;
  max-width: 420px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  margin: 0 auto 30px;
  padding: 35px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
}
.product__imgContainer {
  width: 100%;
  text-align: center;
}
.product__imgContainer img {
  width: 75%;
  max-width: 260px;
}
.product__description {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
}
.product__title {
  font-family: var(--poppins-font);
  font-size: 2rem;
  color: var(--very-dark-cyan);
}
.product__details {
  padding-top: 12px;
  font-family: var(--open-sans);
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--grayish-blue);
}

/* ---------- FLOAT BUTTON ---------- */
.float-card {
  position: absolute;
  z-index: 1;
  width: 360px;
  height: 150px;
  margin: 0 auto;
  left: calc(50% - 180px);
  top: -75px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 25px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
}
.float__title {
  padding-bottom: 15px;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
}
.float__button {
  width: 75%;
  padding: 15px;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  background-color: var(--pink);
  color: white;
  border-radius: 25px;
  border: none;
}

/* ---------- FOOTER ----------- */
footer {
  position: relative;
  background-color: var(--very-dark-cyan);
  font-weight: normal;
  font-family: var(--open-sans);
  padding: 120px 20px 50px;
}
.contact-logo {
  width: 95%;
  margin: 0 auto;
  /* max-width: 400px; */
  padding-bottom: 20px;
}
.contact-logo img {
  width: 45%;
  max-width: 180px;
  filter: brightness(0) invert(1);
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.contact {
  width: 90%;
  margin: 0 auto 30px;
  max-width: 400px;
  font-size: 1.5rem;

  color: white;
}

.contact__item {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-areas: "icon description";
  gap: 20px;
  padding-bottom: 25px;
}
.contact__item > p {
  width: 90%;
  grid-area: description;
  line-height: 23px;
}
.icon {
  padding-top: 2px;
  grid-area: icon;
  width: 20px;
  object-fit: none;
}
.about {
  width: 90%;
  max-width: 400px;
  margin: 0 auto 25px;
  display: flex;
  flex-direction: column;
  font-family: var(--open-sans);
  font-size: 1.8rem;
}
.about__item {
  list-style: none;
  height: 40px;
}
.about__item a {
  text-decoration: none;
  color: white;
}
.social-media {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.social-media__icons {
  width: 100%;
  margin-bottom: 15px;
}
.social-media__icons img {
  filter: brightness(0) invert(1);
}
.copyRight {
  font-size: 1.2rem;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
